
.erp-section {
    max-width: 100%;
    height: 110vh;
    margin: auto;
    /* background-color: aqua; */
}

.erp-section h1 {
    font-size: 45px;
    font-weight: 600;
    padding-top: 50px;
    padding-left: 100px;
}

.erp-section h2 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 5px;
    padding-left:100px;
}
.erp-section p {
    font-size: 20px;
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 60px;
}

.content-container-1 {
    display: flex;
    margin-top: 20px;
}

.sidebar {
    width: 350px;
    height: 60vh;
    font-size: 25px;
    margin-left: 140px;
    margin-top: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-left: 3px solid transparent;
}

.sidebar li:hover {
    background-color: #f4f4f4;
    color: #007BFF;
}

.sidebar li.active {
    font-weight: bold;
    border-left: 3px solid #007BFF;
    color: #007BFF;
}

.main-content {
  display: flex;
    flex-grow: 1;
    margin-left: 100px;
    margin-top: 20px;
}

.main-content img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.main-content ul {
    list-style: disc inside;
    padding: 0;
    margin-top: 20px;
}

/* .main-content ul li {
    display: none;
}

.main-content ul li.active {
    display: block;
} */
/* Hide all first-level li elements under #industry-text */
#industry-text > li {
    display: none;
    font-size: 25px;
    margin-left: 90px;
    margin-right: 90px;
    padding-left: 30px;
    padding-right: 30px;
    color: #333;
}

/* Show the active one */
#industry-text > li.active {
    display: block;
}

