* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f0f0f0;
}


.hero {
  height: 80vh;
  background-image: url('../assets/imgaes/smart tv.webp');
  display: flex;
  align-items: center;
  padding-left: 80px;
  color: #fff;
  position: relative;
}


.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.content {
  position: relative;
  max-width: 600px;
  z-index: 1;
}

.content h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 15px;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 25px;
  opacity: 0.9;
}

.btn {
  display: inline-block;
  background: #111;
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  background: #ff4fc3;
}
